/.phpunit.cache/
/bootstrap/cache/
/storage/
/vendor/
/.env
/.env.local
/.env.*.local
.DS_Store
Thumbs.db
*.log
node_modules/
.vscode/
.idea/
*.swp
*.swo
*~
dist/
build/
.turbo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
composer.phar
.env.*.php
.phpstorm.metadata.php
_ide_helper.php
_ide_helper_models.php
